@charset "UTF-8";
/* --------------------------------------------------------
    共通パーツ
  -------------------------------------------------------- */
body {
  color: #333333;
  font-family: "Hiragino Kaku Gothic Pro","Menlo","ms pgothic",sans-serif;
  letter-spacing: 1.5px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.section__ttl {
  margin: 0 auto;
  width: 73.5%;
  padding: 35px 0 25px;
  position: relative;
  text-align: center;
}

@media (max-width: 1190px) {
  .section__ttl {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .section__ttl {
    width: 100%;
    padding: 5px 20px;
  }
}

.section__ttl::before, .section__ttl::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
}

@media (max-width: 768px) {
  .section__ttl::before, .section__ttl::after {
    width: 30px;
    height: 30px;
  }
}

.section__ttl::before {
  border-left: solid 4px #EBB94D;
  border-top: solid 4px #EBB94D;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .section__ttl::before {
    margin: 0;
  }
}

.section__ttl::after {
  border-right: solid 4px #EBB94D;
  border-bottom: solid 4px #EBB94D;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .section__ttl::after {
    margin: 0;
  }
}

.section__box {
  margin: 20px 0 10px;
  font-size: 28px;
  font-weight: bolder;
  line-height: 1.5;
}

.section__box br {
  display: none;
}

@media (max-width: 768px) {
  .section__box br {
    display: inline;
  }
}

@media (max-width: 1190px) {
  .section__box {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .section__box {
    font-size: 18px;
    line-height: 2.2;
  }
}

/* --------------------------------------------------------
  各セクションのCSS
  -------------------------------------------------------- */
.header {
  position: fixed;
  /* bodyに対しての絶対位置指定 */
  top: 0;
  z-index: 999;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
}

.header__inner {
  max-width: 1170px;
  width: 100%;
  height: 75px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1190px) {
  .header__inner {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .header__inner {
    height: 62px;
    padding: 0 0 0 10px;
  }
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .header__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__logo {
  vertical-align: baseline;
}

@media (max-width: 768px) {
  .header__logo {
    width: 90px;
    height: 31px;
  }
}

.header__ttl {
  font-size: 14px;
  color: #333333;
  margin-bottom: calc( ((14px * 1.7) - 14px) / -2);
  font-weight: bolder;
  line-height: 2.5;
  margin-left: 5px;
}

@media (max-width: 1190px) {
  .header__ttl {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header__ttl {
    font-size: 10px;
  }
}

.header__btn {
  width: 27%;
  padding: 11px 14px;
  text-align: center;
  background-color: #da6b64;
  border-radius: 25px;
  display: block;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media (max-width: 1190px) {
  .header__btn {
    width: 35%;
  }
}

.header__btn:hover {
  cursor: pointer;
  background-color: #D84940;
}

.header__btn-link {
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  letter-spacing: 1.75px;
}

@media (max-width: 1190px) {
  .header__btn-link {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__sp-btn {
  display: none;
}

@media (max-width: 768px) {
  .header__sp-btn {
    background-color: #da6b64;
    height: 62px;
    padding: 9px 11px;
    display: block;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  .header__sp-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #D84940;
  }
  .header__sp-btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF;
  }
  .header__sp-btn-img {
    width: 20px;
    height: auto;
    margin-bottom: 2px;
  }
  .header__sp-btn-link {
    font-size: 12px;
    line-height: 1.5;
  }
}

.mv {
  width: 100%;
  height: 499px;
  margin-top: 75px;
  background-image: url(../img/mv/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: table;
}

@media (max-width: 1190px) {
  .mv {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .mv {
    height: 312px;
    margin-top: 62px;
    padding: 0 15px;
  }
}

.mv__wrap {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.mv__top {
  font-size: 28px;
  line-height: 1.6;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 1190px) {
  .mv__top {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .mv__top {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
  }
}

.mv__img {
  max-width: 317px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .mv__img {
    width: 90%;
  }
}

.mv__bottom {
  font-size: 20px;
  line-height: 1.1;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .mv__bottom {
    font-size: 15px;
  }
}

.date {
  background-color: #EBB94D;
  text-align: center;
  padding: 30px 0;
}

@media (max-width: 768px) {
  .date {
    padding: 15px 0;
  }
}

.date__top {
  font-size: 20px;
  line-height: 1.6;
  color: #FFFFFF;
  margin-bottom: 10px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .date__top {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .date__top {
    font-size: 15px;
  }
}

.date__small {
  font-family: "Menlo";
  display: inline;
  font-size: 18px;
  line-height: 1.6;
  font-weight: bolder;
  color: #C7254E;
  background-color: #F9F2F4;
  padding: 2px 4px;
  border-radius: 5px;
  letter-spacing: 2px;
}

@media (max-width: 1190px) {
  .date__small {
    font-size: 14px;
  }
}

.date__btn {
  display: block;
  width: 88%;
  text-align: center;
  border-radius: 50px;
  margin: 45px auto;
  padding: 30px 20px;
  background-color: #da6b64;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media (max-width: 1190px) {
  .date__btn {
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .date__btn {
    margin: 25px 20px 40px;
    padding: 15px 20px;
  }
}

.date__btn:hover {
  background-color: #D84940;
}

.date__btn-link {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 1.5;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .date__btn-link {
    font-size: 18px;
  }
}

.date__btn-link br {
  display: none;
}

@media (max-width: 768px) {
  .date__btn-link br {
    display: inline;
  }
}

.date__txt {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 44px;
}

@media (max-width: 1190px) {
  .date__txt {
    font-size: 18px;
    margin: 25px 0 30px;
  }
}

@media (max-width: 768px) {
  .date__txt {
    font-size: 15px;
    max-width: calc(100% - 20px);
    margin: 20px auto;
    line-height: 1.7;
  }
}

.date__txt br {
  display: none;
}

@media (max-width: 768px) {
  .date__txt br {
    display: inline;
  }
}

.date__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 19px;
}

.date__item {
  font-size: 12px;
  line-height: 1.5;
  background-color: #1877F2;
  color: #FFFFFF;
  padding: 2px 5px;
  border-radius: 4px;
  text-align: center;
  margin-top: 5px;
}

.date__item:nth-of-type(1) {
  background-color: #1b95e0;
}

.date__item:nth-of-type(1):hover {
  background-color: #0C7ABF;
}

@media (max-width: 1190px) {
  .date__item {
    font-size: 12px;
  }
}

.date__item:nth-of-type(2) {
  margin: 5px 9px 0;
}

.intr {
  background-image: url(../img/bg/introbottom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px 10px 6%;
  position: relative;
  height: 587px;
}

@media (max-width: 768px) {
  .intr {
    background-position: bottom;
    background-size: contain;
    padding: 25px 0px 47px;
    height: auto;
  }
}

.intr::before {
  content: "ABOUT";
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #fff;
  background: #EBB94D;
  font-size: 14px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
}

@media (max-width: 768px) {
  .intr::before {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    bottom: -30px;
  }
}

.intr__top {
  padding: 0 10px;
}

.intr__wrap {
  margin: 40px 0;
}

@media (max-width: 768px) {
  .intr__wrap {
    display: none;
  }
}

.intr__sp {
  display: none;
}

@media (max-width: 768px) {
  .intr__sp {
    display: block;
    padding: 25px 0px;
  }
}

.intr__sp-txt {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.intr__sp-txt-span {
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.intr__sp-txt:nth-of-type(2) {
  margin-bottom: 35px;
}

.intr__txt {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 24px;
}

@media (max-width: 1190px) {
  .intr__txt {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .intr__txt {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .intr__txt br {
    display: none;
  }
}

.intr__txt-span {
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about {
  background-color: #FEF5E0;
  padding: 84px 30px 40px;
}

@media (max-width: 768px) {
  .about {
    padding: 57px 10px 40px;
  }
}

.about__ttl {
  margin: 0 auto;
  width: 73.5%;
  padding: 15px 30px;
  position: relative;
  text-align: center;
}

@media (max-width: 1190px) {
  .about__ttl {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .about__ttl {
    width: 100%;
    padding: 10px;
  }
}

.about__ttl::before, .about__ttl::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
}

@media (max-width: 768px) {
  .about__ttl::before, .about__ttl::after {
    width: 30px;
    height: 30px;
  }
}

.about__ttl::before {
  border-left: solid 4px #EBB94D;
  border-top: solid 4px #EBB94D;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .about__ttl::before {
    margin: 0;
  }
}

.about__ttl::after {
  border-right: solid 4px #EBB94D;
  border-bottom: solid 4px #EBB94D;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .about__ttl::after {
    margin: 0;
  }
}

.about__box {
  margin: 20px 0 10px;
  font-size: 28px;
  font-weight: bolder;
  line-height: 1.5;
}

.about__box br {
  display: none;
}

@media (max-width: 768px) {
  .about__box br {
    display: inline;
  }
}

@media (max-width: 1190px) {
  .about__box {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .about__box {
    font-size: 18px;
    line-height: 2.2;
  }
}

.about__txt {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bolder;
  text-align: center;
  margin: 40px 0 0;
}

.about__txt br {
  display: none;
}

@media (max-width: 768px) {
  .about__txt br {
    display: inline;
  }
}

@media (max-width: 1190px) {
  .about__txt {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .about__txt {
    margin: 15px 0 10px;
  }
}

.about__wrap {
  padding: 0 10px;
}

.about__content {
  padding: 0 10px;
  background-color: #FFFFFF;
  border: 2px solid #EBB94D;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 30px 20px;
  border-radius: 5px;
  margin: 30px 0;
}

.about__content-ttl {
  font-size: 20px;
  line-height: 1.6;
  font-weight: bolder;
  margin-bottom: 24px;
}

@media (max-width: 1190px) {
  .about__content-ttl {
    font-size: 16px;
  }
}

@media (max-width: 1190px) {
  .about__content {
    padding: 30px 0 40px;
  }
}

@media (max-width: 768px) {
  .about__content {
    padding: 10px;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__list-ttl {
  font-size: 20px;
  line-height: 1.6;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 1190px) {
  .about__list-ttl {
    font-size: 15px;
  }
}

.about__list-ttl br {
  display: none;
}

@media (max-width: 768px) {
  .about__list-ttl br {
    display: inline;
  }
}

.about__item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__item:not(:nth-of-type(5)) {
  margin-right: 8px;
}

@media (max-width: 1190px) {
  .about__item:not(:nth-of-type(5)) {
    margin: 0px;
  }
}

@media (max-width: 768px) {
  .about__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px;
  }
}

.about__img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .about__img {
    height: 30px;
  }
}

.about__desc {
  font-size: 12px;
  line-height: 1.6;
  margin-top: 10px;
  vertical-align: top;
}

@media (max-width: 768px) {
  .about__desc {
    font-size: 10px;
    margin: 10px 0 10px;
  }
}

.step {
  background-image: url(../img/bg/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .step {
    background-image: url(../img/bg/aboutsecondbgsp.jpg);
    padding: 30px 30px 50px;
  }
}

.step__ttl {
  font-size: 28px;
  line-height: 1.5;
  color: #FFFFFF;
  text-align: center;
  margin: 20px 0 24px;
  font-weight: bolder;
}

.step__ttl br {
  display: none;
}

@media (max-width: 768px) {
  .step__ttl br {
    display: inline;
  }
}

@media (max-width: 1190px) {
  .step__ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .step__ttl {
    font-size: 18px;
    margin: 20px 0;
  }
}

.step__ttl-small {
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFF;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 1190px) {
  .step__ttl-small {
    line-height: 1.4;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .step__ttl-small {
    font-size: 13px;
    line-height: 1.4;
  }
}

.step__ttl-small br {
  display: none;
}

@media (max-width: 768px) {
  .step__ttl-small br {
    display: inline;
  }
}

.step__ttl-yellow {
  color: #EBB94D;
}

.step__list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1190px) {
  .step__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .step__list {
    margin-top: 30px;
  }
}

.step__item {
  width: 32%;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 30px 30px 20px;
  text-align: center;
  margin: 0 10px;
}

@media (max-width: 1190px) {
  .step__item {
    width: 37%;
    margin: 0 0 20px;
  }
}

@media (max-width: 768px) {
  .step__item {
    width: 100%;
    padding: 15px 50px;
    margin: 0 0 15px;
  }
  .step__item:nth-of-type(2) {
    margin: 0 1.5%;
  }
}

@media (max-width: 768px) and (max-width: 1190px) {
  .step__item:nth-of-type(2) {
    margin: 0 0 20px;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .step__item:nth-of-type(2) {
    margin: 0 0 15px;
  }
}

.step__top {
  background-color: #EBB94D;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 5px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .step__top {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.step__txt {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 15px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .step__txt {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .step__txt {
    margin-bottom: 5px;
  }
}

.step__desc {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 15px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .step__desc {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .step__desc {
    font-size: 12px;
    margin: 0;
  }
}

.skill {
  background-color: #016EA9;
  padding: 40px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .skill {
    padding: 20px 0;
  }
}

.skill-txt {
  font-size: 20px;
  line-height: 1.6;
  color: #FFFFFF;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .skill-txt {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .skill-txt {
    font-size: 12px;
  }
}

.skill-txt br {
  display: none;
}

@media (max-width: 768px) {
  .skill-txt br {
    display: inline;
  }
}

.skill-yellow {
  color: #EBB94D;
}

.study {
  padding: 40px 0;
}

@media (max-width: 1190px) {
  .study {
    padding: 40px 0 70px;
  }
}

@media (max-width: 768px) {
  .study {
    padding: 20px 0;
  }
}

.study__ttl {
  text-align: center;
  font-size: 28px;
  line-height: 1.5;
  font-weight: bolder;
  margin: 20px 0 35px;
}

@media (max-width: 1190px) {
  .study__ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .study__ttl {
    font-size: 18px;
  }
}

.study__ttl-small {
  font-size: 16px;
}

@media (max-width: 1190px) {
  .study__ttl-small {
    font-size: 14px;
  }
}

.study__txt {
  text-align: center;
  font-size: 20px;
  line-height: 1.7;
}

@media (max-width: 1190px) {
  .study__txt {
    font-size: 16px;
  }
}

.study__txt br {
  display: none;
}

@media (max-width: 768px) {
  .study__txt br {
    display: inline;
  }
}

@media (max-width: 768px) {
  .study__txt {
    padding: 10px;
  }
}

.study__list {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1190px) {
  .study__list {
    margin: 50px auto 60px;
  }
}

@media (max-width: 768px) {
  .study__list {
    margin: 10px auto 15px;
  }
}

.study__item {
  margin: 0 1.5%;
}

.study__img {
  max-width: 180px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .study__img {
    width: 80%;
  }
}

.study__small {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bolder;
  text-align: center;
}

@media (max-width: 1190px) {
  .study__small {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .study__small {
    font-size: 12px;
  }
}

.learn {
  background-color: #FEF5E0;
  padding: 40px 0;
}

@media (max-width: 1190px) {
  .learn {
    padding: 30px 50px;
  }
}

@media (max-width: 768px) {
  .learn {
    padding: 30px 0px;
  }
}

.learn__wrap {
  padding: 0 10px;
}

.learn__ttl {
  margin: 0 auto;
  width: 73.5%;
  padding: 15px 30px;
  position: relative;
  text-align: center;
}

@media (max-width: 1190px) {
  .learn__ttl {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .learn__ttl {
    width: 100%;
    padding: 10px;
  }
}

.learn__ttl::before, .learn__ttl::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
}

@media (max-width: 768px) {
  .learn__ttl::before, .learn__ttl::after {
    width: 30px;
    height: 30px;
  }
}

.learn__ttl::before {
  border-left: solid 4px #EBB94D;
  border-top: solid 4px #EBB94D;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .learn__ttl::before {
    margin: 0;
  }
}

.learn__ttl::after {
  border-right: solid 4px #EBB94D;
  border-bottom: solid 4px #EBB94D;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .learn__ttl::after {
    margin: 0;
  }
}

.learn__box {
  font-size: 28px;
  font-weight: bolder;
  line-height: 1.5;
}

.learn__box br {
  display: none;
}

@media (max-width: 768px) {
  .learn__box br {
    display: inline;
  }
}

@media (max-width: 1190px) {
  .learn__box {
    font-size: 24px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .learn__box {
    font-size: 18px;
    margin: 15px auto;
    width: 87%;
  }
}

.learn__span {
  font-size: 20px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .learn__span {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .learn__span {
    font-size: 15px;
  }
}

.learn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .learn__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

.learn__item {
  width: 33%;
  padding: 0 15px;
}

@media (max-width: 1190px) {
  .learn__item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .learn__item {
    margin-bottom: 10px;
  }
}

.learn__first {
  background-image: url(../img/img/learnfromfreelancer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 100%;
}

@media (max-width: 1190px) {
  .learn__first {
    height: 180px;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .learn__first {
    height: 120px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.learn__second {
  background-image: url(../img/img/learnfromprojects.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 100%;
}

@media (max-width: 1190px) {
  .learn__second {
    height: 180px;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .learn__second {
    height: 120px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.learn__third {
  background-image: url(../img/img/actuallyfree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 100%;
}

@media (max-width: 1190px) {
  .learn__third {
    height: 180px;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .learn__third {
    height: 120px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.learn__top {
  font-size: 20px;
  line-height: 1.6;
  color: #EBB94D;
  margin: 8px 0;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .learn__top {
    font-size: 16px;
    text-align: center;
  }
}

.learn__txt {
  font-size: 16px;
  line-height: 1.6;
  margin: 8px 0;
}

@media (max-width: 1190px) {
  .learn__txt {
    padding: 0 20px;
    font-size: 14px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .learn__txt {
    font-size: 12px;
  }
}

.learn__add {
  background-color: #FFFFFF;
  padding: 40px 20px;
  text-align: center;
  margin: 20px 15px 40px;
  border: 2px solid #EBB94D;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .learn__add {
    padding: 10px;
    margin: 15px 20px;
  }
}

.learn__add-ttl {
  font-size: 28px;
  line-height: 1.65;
  color: #EBB94D;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 1190px) {
  .learn__add-ttl {
    font-size: 24px;
    line-height: 1;
  }
}

@media (max-width: 768px) {
  .learn__add-ttl {
    font-size: 18px;
    line-height: 1.65;
  }
}

.learn__add-large {
  font-size: 20px;
  line-height: 1.6;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 1190px) {
  .learn__add-large {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .learn__add-large {
    font-size: 15px;
  }
}

.learn__add-large br {
  display: none;
}

@media (max-width: 768px) {
  .learn__add-large br {
    display: inline;
  }
}

.learn__add-txt {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 1190px) {
  .learn__add-txt {
    font-size: 14px;
    line-height: 1.45;
  }
}

@media (max-width: 768px) {
  .learn__add-txt {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .learn__add-txt br {
    display: none;
  }
}

.learn__small {
  width: 83%;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto 10px;
}

@media (max-width: 1190px) {
  .learn__small {
    width: 100%;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .learn__small {
    padding: 0 10px;
  }
}

.learn__small br {
  display: none;
}

@media (max-width: 768px) {
  .learn__small br {
    display: inline;
  }
}

.mem {
  width: 100%;
  background-image: url(../img/bg/teacherbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

@media (max-width: 1190px) {
  .mem {
    padding: 50px 50px 73px;
  }
}

@media (max-width: 768px) {
  .mem {
    padding: 20px 15px;
    background-image: url(../img/bg/teacherbgsp.jpg);
  }
}

.mem__ttl {
  font-size: 28px;
  line-height: 1.4;
  color: #FFFFFF;
  font-weight: bolder;
  text-align: center;
  margin: 40px 0 34px;
}

@media (max-width: 1190px) {
  .mem__ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .mem__ttl {
    font-size: 18px;
    margin: 44px 0 10px;
  }
}

.mem__txt {
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  font-weight: bolder;
  text-align: center;
}

@media (max-width: 1190px) {
  .mem__txt {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .mem__txt {
    font-size: 12px;
    margin-top: 40px;
    line-height: 1.7;
  }
}

.mem__txt br {
  display: none;
}

@media (max-width: 768px) {
  .mem__txt br {
    display: inline;
  }
}

.mem__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 46px;
}

@media (max-width: 768px) {
  .mem__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
}

.mem__item {
  width: 33%;
  margin: 0 15px;
  height: auto;
}

@media (max-width: 768px) {
  .mem__item {
    width: 100%;
    margin: 30px 0 0;
  }
}

.mem__photo {
  text-align: center;
  margin-bottom: -35px;
}

.mem__img {
  max-width: 198px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .mem__img {
    max-width: 120px;
    height: auto;
  }
}

.mem__wrap {
  padding: 40px;
  border: 3px solid #FFFFFF;
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;
  height: auto;
}

@media (max-width: 1190px) {
  .mem__wrap {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .mem__wrap {
    font-size: 12px;
    padding: 40px 10px 10px;
  }
}

.mem__tch {
  text-align: center;
  margin-bottom: 10px;
}

.mem__name {
  text-align: center;
  margin-bottom: 10px;
}

.mem__msg {
  line-height: 1.6;
  margin-bottom: 10px;
}

.qa__top {
  background-color: #EBB94D;
  text-align: center;
  padding: 40px 0;
  position: relative;
}

@media (max-width: 1190px) {
  .qa__top {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .qa__top {
    padding: 20px 10px;
  }
}

.qa__top-ttl {
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  color: #EBB94D;
  border-radius: 50%;
  font-size: 14px;
  line-height: 80px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .qa__top-ttl {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

.qa__top::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -24px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #EBB94D transparent transparent transparent;
  border-width: 25px 25px 0 25px;
}

@media (max-width: 768px) {
  .qa__top::after {
    bottom: -14px;
  }
}

.qa__top-txt {
  margin: 0 auto;
  width: 70%;
  font-size: 28px;
  font-weight: bolder;
  line-height: 1.5;
  padding: 15px 10px;
  position: relative;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1190px) {
  .qa__top-txt {
    font-size: 18px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .qa__top-txt {
    font-size: 14px;
    padding: 10px;
    line-height: 2.8;
  }
}

.qa__top-txt::before, .qa__top-txt::after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
}

.qa__top-txt::before {
  border-left: solid 4px #FFFFFF;
  border-top: solid 4px #FFFFFF;
  top: 0;
  left: 0;
}

.qa__top-txt::after {
  border-right: solid 4px #FFFFFF;
  border-bottom: solid 4px #FFFFFF;
  bottom: 0;
  right: 0;
}

.qa__wrap {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0 0;
}

@media (max-width: 768px) {
  .qa__wrap {
    width: 100%;
    padding: 20px 0 0;
  }
}

.qa__ttl {
  font-size: 28px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .qa__ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .qa__ttl {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.qa__txt {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
  margin-bottom: 30px;
}

@media (max-width: 1190px) {
  .qa__txt {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .qa__txt {
    font-size: 12px;
    margin-bottom: 35px;
  }
}

.qa__small {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 1190px) {
  .qa__small {
    font-size: 10px;
    line-height: 1.3;
  }
}

.qa__list {
  margin-bottom: 40px;
}

.qa__item {
  width: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
}

@media (max-width: 1190px) {
  .qa__item {
    width: 100%;
    padding: 20px 20px 10px;
  }
}

@media (max-width: 768px) {
  .qa__item {
    padding: 20px 10px;
    width: 100%;
  }
}

.qa__photo {
  width: 37%;
}

@media (max-width: 1190px) {
  .qa__photo {
    width: 22%;
  }
}

.qa__img {
  max-width: 297px;
  height: auto;
  width: 100%;
  border: solid #EBB94D;
}

.qa__content {
  width: 70%;
  line-height: 1.6;
  color: #777777;
  margin-left: 30px;
  padding: 15px 0 10px;
}

@media (max-width: 768px) {
  .qa__content {
    width: 58%;
    margin-left: 15px;
    padding: 0;
    line-height: 1.8;
  }
}

.qa__msg {
  font-size: 18px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .qa__msg {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
  }
}

.qa__msg-small {
  font-style: italic;
  font-size: 15px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .qa__msg-small {
    font-size: 10px;
    margin: 0 auto;
  }
}

.class {
  width: 100%;
  background-image: url(../img/bg/classbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .class {
    background-image: url(../img/bg/classbgsp.jpg);
    padding: 20px 0;
  }
}

.class__ttl {
  font-size: 28px;
  line-height: 1.4;
  color: #FFFFFF;
  margin: 20px 0 10px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .class__ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .class__ttl {
    font-size: 18px;
  }
}

.class__txt {
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  margin-bottom: 10px;
}

@media (max-width: 1190px) {
  .class__txt {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .class__txt {
    font-size: 12px;
  }
}

.class__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

@media (max-width: 1190px) {
  .class__content {
    padding: 30px 10%;
  }
}

@media (max-width: 768px) {
  .class__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 15px;
  }
}

.class__list {
  background-color: #FFFFFF;
  border: 2px solid #016EA9;
  border-radius: 5px;
  margin: 0 15px;
  height: 100%;
  width: 32%;
}

@media (max-width: 768px) {
  .class__list {
    width: 100%;
    margin: 15px auto 0;
  }
}

.class__item {
  padding: 10px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: bolder;
}

.class__item-ttl {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: bolder;
  color: #FFFFFF;
  background: #016EA9;
}

@media (max-width: 1190px) {
  .class__item-ttl {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .class__item-ttl {
    font-size: 15px;
    padding: 15px;
    margin-bottom: 15px;
  }
}

.class__item:not(:nth-of-type(1)) {
  border-top: dotted 1px #e5e5e5;
}

@media (max-width: 1190px) {
  .class__item {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .class__item {
    font-size: 12px;
    line-height: 1.5;
  }
}

.price {
  width: 100%;
  background-color: #016EA9;
  padding: 40px 5px;
  text-align: center;
}

@media (max-width: 768px) {
  .price {
    padding: 20px 0;
  }
}

.price__txt {
  font-size: 20px;
  line-height: 1.6;
  color: #FFFFFF;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .price__txt {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .price__txt {
    font-size: 15px;
  }
}

.flow {
  padding: 40px 20px;
}

@media (max-width: 1190px) {
  .flow {
    padding: 20px 40px;
  }
}

@media (max-width: 768px) {
  .flow {
    padding: 20px 15px 80px;
  }
}

.flow__top {
  text-align: center;
}

.flow__top-ttl {
  font-size: 28px;
  line-height: 1.4;
  color: #333333;
  font-weight: bolder;
  margin: 20px 0 15px;
}

@media (max-width: 1190px) {
  .flow__top-ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .flow__top-ttl {
    font-size: 18px;
    margin: 20px 0 40px;
  }
}

.flow__top-img {
  width: 85%;
  margin: 40px 0;
}

@media (max-width: 1190px) {
  .flow__top-img {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .flow__top-img {
    display: none;
  }
}

@media (max-width: 1190px) {
  .flow__list {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .flow__list {
    display: none;
  }
}

.flow__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FEF5E0;
  padding: 10px 35px;
  border-radius: 10px;
}

.flow__photo {
  padding: 20px;
  text-align: center;
  min-width: 200px;
}

.flow__img-txt {
  font-size: 18px;
  line-height: 1.6;
  font-weight: bolder;
  margin-top: 20px;
  text-align: center;
}

.flow__txt {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bolder;
  margin: 20px 0;
}

@media (max-width: 1190px) {
  .flow__txt {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .flow__txt {
    margin: 0;
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.flow__txt-small {
  font-size: 14px;
  line-height: 1.6;
}

@media (max-width: 1190px) {
  .flow__txt-small {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .flow__txt-small {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.flow__btm-line {
  width: 65%;
  margin: 0 auto;
}

.flow__btm-img {
  max-width: 762px;
  width: 100%;
}

.flow__accordion-container {
  display: none;
}

@media (max-width: 768px) {
  .flow__accordion-container {
    display: inline;
  }
}

.flow__accordion-container .flow__accordion-title {
  position: relative;
  margin: 0;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 5px;
}

.flow__accordion-container .flow__accordion-title::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 38%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 10px;
  height: 10px;
  border-top: solid 5px #333333;
  border-right: solid 5px #333333;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.flow__accordion-container .flow__accordion-title.open::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.flow__accordion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  background-color: #FEF5E0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow__accordion-title:hover {
  text-decoration: underline;
}

.flow__accordion-content {
  background-color: #FEF5E0;
  padding: 15px;
}

.flow__sp-img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.flow__sp-txt {
  font-size: 15px;
  font-weight: bolder;
  padding-right: 15px;
  line-height: 1.5;
}

.bangkok {
  background-image: url(../img/bg/bangkokbg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px;
  color: #FFFFFF;
  line-height: 1.6;
}

@media (max-width: 1190px) {
  .bangkok {
    padding: 40px;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .bangkok {
    background-image: url(../img/bg/bangkokbgsp.jpg);
    padding: 20px 15px 40px;
  }
}

.bangkok__ttl {
  font-size: 24px;
  margin: 20px 0;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .bangkok__ttl {
    text-align: center;
  }
}

.bangkok__txt {
  font-size: 14px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .bangkok__txt {
    font-size: 12px;
  }
}

.bangkok__item {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media (max-width: 1190px) {
  .bangkok__item {
    font-size: 14px;
  }
}

.bangkok__btm {
  font-size: 20px;
  font-weight: bolder;
  margin: 20px 0;
}

@media (max-width: 1190px) {
  .bangkok__btm {
    font-size: 16px;
  }
}

.gift {
  width: 100%;
  background-color: #f7c23c;
  padding: 40px;
}

@media (max-width: 1190px) {
  .gift {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .gift {
    padding: 20px 10px;
  }
}

.gift__top {
  text-align: center;
}

.gift__ttl {
  font-size: 28px;
  line-height: 1.4;
  color: #333333;
  font-weight: bolder;
  margin: 20px 0 40px;
}

@media (max-width: 1190px) {
  .gift__ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .gift__ttl {
    font-size: 18px;
    margin: 10px 0 20px;
  }
}

.gift__txt {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 138px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .gift__txt {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .gift__txt {
    font-size: 12px;
    margin-bottom: 92px;
  }
}

.gift__txt-white {
  color: #FFFFFF;
}

.gift__txt br {
  display: none;
}

@media (max-width: 768px) {
  .gift__txt br {
    display: inline;
  }
}

.gift__box {
  padding: 40px;
  margin-top: 40px;
  border: 2px solid #FFFFFF;
}

@media (max-width: 768px) {
  .gift__box {
    padding: 30px 0 20px;
    margin-top: 0;
  }
}

.gift__box-wrap {
  width: 55%;
  margin: 0 auto;
  margin-top: -70px;
  margin-bottom: 10px;
  background-color: #f7c23c;
}

@media (max-width: 768px) {
  .gift__box-wrap {
    width: 250px;
    margin-top: -70px;
  }
}

.gift__box-ttl {
  font-size: 28px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .gift__box-ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .gift__box-ttl {
    font-size: 18px;
  }
}

.gift__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .gift__list {
    display: none;
  }
}

.gift__item {
  width: 250px;
  height: 250px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.gift__item:nth-of-type(2) {
  margin: 0 15px;
}

.gift__item-ttl {
  font-size: 24px;
  line-height: 1.6;
  color: #EBB94D;
  margin-bottom: 10px;
}

.gift__item-txt {
  font-size: 14px;
  line-height: 1.6;
  font-weight: bolder;
}

.gift__sp-list {
  display: none;
}

@media (max-width: 768px) {
  .gift__sp-list {
    display: block;
    padding: 0 30px;
  }
}

.gift__sp-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 43px;
}

.gift__sp-item-ttl {
  font-size: 12px;
  line-height: 60px;
  color: #EBB94D;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-right: 6%;
}

.gift__sp-item-txt {
  font-size: 12px;
  line-height: 1.6;
  font-weight: bolder;
  color: #FFFFFF;
}

.specialdetail {
  width: 100%;
  background-image: url(../img/bg/specialdetail.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

@media (max-width: 1190px) {
  .specialdetail {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .specialdetail {
    background-image: url(../img/bg/specialdetailsp.jpg);
    padding: 20px 10px 60px;
  }
}

.specialdetail__box {
  color: #FFFFFF;
  text-align: center;
}

.specialdetail__ttl {
  font-size: 28px;
  line-height: 1.6;
  margin: 20px 0;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .specialdetail__ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .specialdetail__ttl {
    font-size: 18px;
  }
}

.specialdetail__ttl br {
  display: none;
}

@media (max-width: 768px) {
  .specialdetail__ttl br {
    display: inline;
  }
}

.specialdetail__txt {
  line-height: 1.6;
  font-size: 20PX;
  margin-bottom: 40px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .specialdetail__txt {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .specialdetail__txt {
    font-size: 12px;
    margin: 0 auto 40px;
  }
}

.specialdetail__txt-btm {
  line-height: 1.6;
  font-size: 20PX;
  margin-bottom: 40px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .specialdetail__txt-btm {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .specialdetail__txt-btm {
    display: none;
  }
}

.specialdetail__txt-sp {
  display: none;
}

@media (max-width: 768px) {
  .specialdetail__txt-sp {
    display: inline;
    line-height: 1.6;
    font-size: 12PX;
    margin-bottom: 40px;
    font-weight: bolder;
  }
}

.specialdetail__point {
  margin: 20px auto;
  width: 70%;
  font-size: 28px;
  font-weight: bolder;
  line-height: 1.5;
  padding: 15px 0;
  position: relative;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1190px) {
  .specialdetail__point {
    width: 100%;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .specialdetail__point {
    font-size: 18px;
    line-height: 2;
    margin: 0px auto 20px;
  }
}

.specialdetail__point br {
  display: none;
}

@media (max-width: 768px) {
  .specialdetail__point br {
    display: inline;
    padding: 10px;
  }
}

.specialdetail__point::before, .specialdetail__point::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
}

@media (max-width: 768px) {
  .specialdetail__point::before, .specialdetail__point::after {
    width: 30px;
    height: 30px;
  }
}

.specialdetail__point::before {
  border-left: solid 4px #FFFFFF;
  border-top: solid 4px #FFFFFF;
  top: 0;
  left: 0;
}

.specialdetail__point::after {
  border-right: solid 4px #FFFFFF;
  border-bottom: solid 4px #FFFFFF;
  bottom: 0;
  right: 0;
}

.msg {
  padding: 40px 0;
}

@media (max-width: 1190px) {
  .msg {
    padding: 40px 20px;
  }
}

@media (max-width: 768px) {
  .msg {
    padding: 20px 10px;
  }
}

.msg__top {
  text-align: center;
}

.msg__ttl {
  font-size: 28px;
  line-height: 1.4;
  margin: 20px 0 35px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .msg__ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .msg__ttl {
    font-size: 18px;
  }
}

.msg__desc {
  font-size: 20px;
  line-height: 1.6;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .msg__desc {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .msg__desc {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

.msg__desc br {
  display: none;
}

@media (max-width: 768px) {
  .msg__desc br {
    display: inline;
  }
}

.msg__box {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 0;
}

@media (max-width: 768px) {
  .msg__box {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

.msg__photo {
  margin: 0 auto;
}

.msg__img {
  max-width: 768px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .msg__img {
    padding: 5px;
    margin-bottom: 0;
  }
}

.msg__wrap {
  margin-left: 30px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .msg__wrap {
    padding: 5px;
    margin: 0;
  }
}

.msg__txt {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .msg__txt {
    margin-bottom: 15px;
    line-height: 1.7;
  }
}

.contact {
  width: 100%;
  background: #EBB94D;
  padding: 40px 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contact {
    padding: 20px 15px 40px;
  }
}

.contact__title {
  font-size: 28px;
  line-height: 1.4;
  font-weight: bolder;
  color: #333333;
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 1190px) {
  .contact__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .contact__title {
    font-size: 18px;
  }
}

.contact__title-catch {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  text-align: center;
  margin-bottom: 38px;
  font-weight: bolder;
}

@media (max-width: 1190px) {
  .contact__title-catch {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .contact__title-catch {
    font-size: 12px;
  }
}

.contact__box {
  max-width: 945px;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contact__box {
    max-width: initial;
    width: 100%;
  }
}

.contact__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__label {
  display: none;
}

.contact__text-input {
  height: 55px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-weight: 1.5;
  font-size: 14px;
}

.contact__textarea {
  height: 100px;
  padding: 10px;
  margin: 25px 0;
  border-radius: 5px;
  background-color: #FFFFFF;
  font-weight: 1.5;
  font-size: 14px;
}

@media (max-width: 768px) {
  .contact__textarea {
    margin: 15px 0 30px;
  }
}

.contact__submit-wrapper {
  text-align: center;
  margin: 10px auto 30px;
}

.contact__submit-link {
  width: 100%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-color: #da6b64;
  border-radius: 50px;
  display: block;
  padding: 10px 80px;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 23px;
  line-height: 1.6;
  font-weight: bolder;
}

.contact__submit-link:hover {
  cursor: pointer;
  background-color: #D84940;
}

.contact__end-message {
  display: none;
  text-align: center;
  color: #FFFFFF;
}

.button--disabled[disabled] {
  opacity: 0.4;
}

input[type="text"]:focus,
input[type="email"]:focus, textarea:focus {
  border: solid 1px #D84940;
  /* 内側の線になる一本線の枠線をひく*/
  -webkit-box-shadow: 0 0 0 1px #FFFFFF;
          box-shadow: 0 0 0 1px #FFFFFF;
}

.formError {
  left: 66% !important;
  margin-top: -25px;
  text-align: justify;
}

@media (max-width: 768px) {
  .formError {
    margin-top: -40px;
    margin-left: -100px;
  }
}

@media (max-width: 768px) {
  .yournameformError {
    margin-top: -20px;
    margin-left: -100px;
  }
}

@media (max-width: 768px) {
  .contentformError {
    margin-top: -20px;
    left: 50% !important;
  }
}

.formError .formErrorContent {
  background: #333333;
  color: white;
  font-size: 13px;
  -webkit-filter: drop-shadow(5px 6px 8px gray);
          filter: drop-shadow(5px 6px 8px gray);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 12px 6px;
  border-radius: 4px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .formError .formErrorContent {
    padding: 5px;
  }
}

.faq {
  padding: 40px;
}

@media (max-width: 768px) {
  .faq {
    padding: 20px 15px 40px;
  }
}

.faq__ttl {
  font-size: 28px;
  line-height: 1.4;
  font-weight: bolder;
  color: #333333;
  text-align: center;
  margin: 20px 0 40px;
}

@media (max-width: 1190px) {
  .faq__ttl {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .faq__ttl {
    font-size: 18px;
    margin: 20px 0;
    line-height: 2;
  }
}

.faq__accordion {
  /*CSS for CodePen*/
}

.faq__accordion-container {
  width: 82.2%;
  margin: 0 auto;
}

@media (max-width: 1190px) {
  .faq__accordion-container {
    width: 92%;
  }
}

@media (max-width: 768px) {
  .faq__accordion-container {
    width: 100%;
  }
}

.faq__accordion-container .faq__accordion-title {
  position: relative;
  margin: 0;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .faq__accordion-container .faq__accordion-title {
    padding: 10px 34px 10px 10px;
    margin-bottom: 5px;
  }
}

.faq__accordion-container .faq__accordion-title::after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 14px;
  height: 14px;
  border-top: solid 5px #e5e5e5;
  border-right: solid 5px #e5e5e5;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@media (max-width: 768px) {
  .faq__accordion-container .faq__accordion-title::after {
    width: 12px;
    height: 12px;
  }
}

.faq__accordion-container .faq__accordion-title.open::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.faq__accordion-title {
  font-size: 20px;
  font-weight: bolder;
  line-height: 1.1;
  color: #333333;
  border: 1px solid #e5e5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 1190px) {
  .faq__accordion-title {
    font-size: 16px;
    line-height: 1.3;
  }
}

@media (max-width: 768px) {
  .faq__accordion-title {
    font-size: 15px;
  }
}

.faq__accordion-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.faq__accordion-content {
  font-size: 16px;
  font-weight: bolder;
  line-height: 1.6;
  padding: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 1190px) {
  .faq__accordion-content {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .faq__accordion-content {
    font-size: 12px;
  }
}

.fa-question-circle {
  font-size: 18px;
  color: #016EA9;
}

.footer {
  background-color: #ECECEC;
  padding: 40px 15px 20px 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 15px 20px 20px;
  }
}

.footer__small {
  font-size: 10px;
  line-height: 1.6;
}

.footer__txt {
  font-size: 10px;
  margin-top: 40px;
}

.footer__blue {
  color: #016EA9;
}

.footer__blue:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #23527C;
}

/* --------------------------------------------------------
  jQuery
  -------------------------------------------------------- */
#js-scroll-top {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 99;
}

@media (max-width: 1190px) {
  #js-scroll-top {
    right: 10px;
  }
}

@media (max-width: 768px) {
  #js-scroll-top {
    bottom: 25px;
  }
}

.js-scroll-top__link {
  font-size: 35px;
  padding: 15px 25px;
  background-color: #ececec;
}

@media (max-width: 768px) {
  .js-scroll-top__link {
    font-size: 24px;
    padding: 15px;
  }
}

.fa-angle-double-up {
  color: #FFFFFF;
}
/*# sourceMappingURL=stylesheet.css.map */